<form>
    <b>First Name</b><br> 
    <input [(ngModel)]="registerUserData.firstname" name="First name" placeholder="First name" required><br><br> 
    <b>Last Name</b><br> 
    <input [(ngModel)]="registerUserData.lastname" name="Last name" placeholder="Last name" required><br><br> 
    <b>User Name</b><br> 
    <input [(ngModel)]="registerUserData.username" name="User name" placeholder="User name" required><br><br> 
    <b>Password</b><br> 
    <input [(ngModel)]="registerUserData.password" name="password" placeholder="Password" required><br><br>
    <b>Confirm Password</b><br> 
    <input [(ngModel)]="registerUserData.confirmpassword" name="password" placeholder="Confirm Password" required><br><br>
    <button (click)="registerUser()">Register</button>
    <input type="reset">
</form>
